.forum-list {
  list-style: none;
  padding-left: 0;
  background: $white;
  border-radius: $radius;
  box-shadow: $shadow;
  .forum-item {
    padding: 1.5rem;
    transition: 0.4s;
    border-bottom: 1px solid #eee;
    a {
      color: $darkColor;
    }
    p {
      color: $silverGrey;
    }
    &:hover {
      background: #fafcff;
      transition: 0.4s;
    }
    .reply {
      color: $grey;
      font-size: 14px;

      a {
        color: $mainColor;
        margin-right: 5px;
        img {
          width: 20px;
          border-radius: 50%;
          margin-right: 5px;
        }
      }
      .reply-count {
        margin-left: 5px;
      }
    }
    &:last-child {
      border-bottom: hidden;
    }
  }
}
.categories {
  a {
    background: $silverGrey;
    border-radius: 3px;
    color: $white !important;
    font-size: 12px;
    padding: 3px 5px;
    margin-right: 10px;
  }
}
.counts {
  color: $grey;
  span {
    margin-right: 10px;
    font-size: 14px;
  }
}
.topic {
  .counts {
    span {
      color: $silverGrey;
      font-size: 16px;
    }
  }
  .categories {
    text-align: right;
    a {
      margin-left: 10px;
      margin-right: 0;
    }
  }
}
.topic-container {
  padding: 0 2rem 2rem 2rem;
  background: #fff;
  margin-bottom: 2rem;
  box-shadow: $shadow;
  border-radius: $radius;
}
.topic-header {
  padding-bottom: 30px;
}
.topic-post {
  position: relative;
  border-bottom: 1px solid $lightGrey;
  padding: 2rem 0;
}
.topic-details {
  background: #eee;
  padding: 10px 20px;
  margin-top: 30px;
  h6 {
    font-weight: 400;
    font-size: 14px;
    color: $grey;
    margin-bottom: 0;
  }
  span {
    font-weight: 500;
  }
}
.topic-reply {
}
.author-avatar {
  position: absolute;
  img {
    max-width: 50px;
    border-radius: 50%;
  }
}
.topic-content {
  padding-left: 60px;
}

.date {
  text-align: right;
  color: $silverGrey;
  font-size: 14px;
}
.reply-menu {
  margin-left: 60px;
  margin-top: 20px;
}
.show-reply {
  width: auto;
  background: transparent;
  border: none;
  color: $grey;
  padding: 5px 10px;
  border-radius: 5px;
  &:hover,
  &:focus,
  &.active {
    background: $softYellow;
    outline: none;
    color: $darkColor;
  }
}
.replies {
  margin-top: 1rem;
}
.actions {
  text-align: right;
  margin-top: 1rem;
  button {
    margin: 5px 0 5px 10px;
    border: 0;
    background: transparent;
    transition: 0.4s;
    padding: 5px 10px;
    border-radius: 3px;
    color: $silverGrey;
    &:hover {
      transition: 0.4s;
      background: $lightGrey;
      color: $darkColor;
    }
    &.like {
      span {
        margin-right: 5px;
      }
      &:hover {
        color: $red;
      }
    }
    &.reply {
      i {
        margin-right: 5px;
      }
    }
  }
}

.avatarDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > div {
    color: #5c5c5c;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 5px;
  }
  .detail {
    display: flex;
    align-items: center;
  }
}
.vote-bar {
  text-align: center;
  span {
    margin-left: 12px;
    i {
      margin-right: 4px;
    }
  }
}
