html,
body {
  padding: 0;
  margin: 0;
  font-family: 'sans-serif';
}

a {
  color: inherit;
  text-decoration: none;
}

*,
::after,
::before {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  border-style: none;
}

input:focus {
  outline: none;
}
