.page-title {
  color: $darkColor;
  font-weight: 700;
  margin-bottom: 2rem;
}

.section-header {
  color: $grey;
  margin-bottom: 20px;

  .item {
    display: inline-block;
    font-size: 14px;
  }

  i {
    font-size: 10px;
    margin-right: 5px;

    &:before {
      font-weight: 600;
    }
  }

  a {
    color: $silverGrey;
    margin-right: 5px;
  }
}
time {
  color: $silverGrey;
  margin-bottom: 0.5rem;
}
.section-title {
  font-weight: 300;
  font-size: 40px;
  margin-bottom: 1rem;
  color: $darkColor;
}

.card {
  border: 0;
  padding: 1.5rem;
  background: $white;
  box-shadow: $shadow;
  border-radius: $radius;
  transition: 0.4s;

  .card-title {
    text-align: center;
    color: $darkColor;
  }

  &:hover {
    box-shadow: $shadowHover;
    transition: 0.4s;
  }

  &.article-detail {
    padding: 30px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-radius: 0;
    box-shadow: none;
    &:hover{
      box-shadow: none;
    }
    .content {
      h1 {
        font-size: 25px;
      }

      h2 {
        font-size: 20px;
      }
    }
  }
}

h1 strong, h2 strong, h3 strong {
  font-weight: 500;
}


.btn {
  width: 100%;
  &:focus {
    outline: none;
    box-shadow: none;
  }
  .badge {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 10px;
    padding: 2px;
  }
}
.btn-primary {
  background-color: $mainColor;
  border-color: $mainColor;
  &:hover {
    background: $white;
    color: $mainColor;
    border-color: $mainColor;
  }
}
.btn-orange {
  background: $orange;
  border-color: $orange;
  transition: 0.4s;
  &:hover {
    background: $darkOrange;
    transition: 0.4s;
    border-color: $darkOrange;
  }
}
.action-bar {
  text-align: right;
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-end;
  .btn {
    color: #fff;
    font-size: 16px;
    box-shadow: $shadow;
    padding: 10px;
    border: 1px solid $mainColor;
    margin-left: 0.5rem;
  }
  .btn-create {
    width: 100%;
    max-width: none;
    margin-left: 0;
    background: $mainColor;
    color: $white;
    &:hover {
      background: $mainColor;
      color: $white;
    }
  }
  .btn-edit {
    width: 50px;
    border-color: $teal;
    color: $teal;
    &:hover {
      background: $teal;
      color: $white;
    }
  }
  .btn-delete {
    width: 50px;
    border-color: $red;
    color: $red;
    &:hover {
      background: $red;
      color: $white;
    }
  }
}
.vote-container {
  margin: 3rem 0;
  text-align: center;
  span {
    color: $mainColor;
    font-weight: 500;
  }
  .vote {
    text-align: center;
    margin-top: 1rem;
    button {
      border: 1px solid $mainColor;
      color: $mainColor;
      margin: 0 5px;
      border-radius: $radius;
      padding: 0.5rem 1.5rem;
      transition: 0.4s;
      background: $white;
      &:hover {
        background: $mainColor;
        color: #fff;
        transition: 0.4s;
      }
    }
  }
}
.related-articles {
  list-style: none;
  text-align: center;
  li {
    margin: 0.5rem 0;
    a {
      color: $mainColor;
      text-decoration: underline;
    }
  }
}

.empty-state {
  text-align: center;
  h3 {
    color: $darkColor;
  }
  p {
    color: $grey;
  }
}

.modal-content {
  border: 0;
  button {
    width: auto;
  }
  .modal-body {
    padding: 2rem 2rem;
  }

  .modal-header {
    padding: 1rem 2rem;
    .modal-title {
      color: $darkColor;
      font-weight: bolder;
    }
  }
  .modal-footer {
    padding: 1rem 2rem;
  }
}

.alert-modal {
  text-align: center;
  i {
    font-size: 2rem;
    color: $mainColor;
  }
  h5 {
    margin: 10px 0 20px;
  }
  button {
    margin: 0 10px;
  }
}

.popover {
  .popover-header {
    text-align: center;
    color: $darkColor;
  }
  .popover-body {
    padding: 0.75rem 0;
    ul {
      list-style: none;
      padding: 0;
      margin-bottom: 0;
      li {
        padding: 0.5rem 1rem;
        border-bottom: 1px solid $lightGrey;
        a {
          color: $silverGrey;
        }
        &:last-child {
          border: 0;
        }
        &:hover {
          background: #eee;
        }
      }
    }
  }
}

.search-container {
  position: relative;

  i {
    font-size: 22px;
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 18px;
  }

  .icon-search {        
    color: $white;
  }

  input {
    border: 0;
    background: none;
    width: 100%;
    color: $white;
    background: rgba(255,255,255,0.2);
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px 32px 21px 59px;

    &::placeholder {
      color: rgba(255,255,255,.6);
      font-weight: 400;
    }

    &:focus, &:active {
      background: $white;
      color: #666;
    }
  }

  input:focus::-webkit-input-placeholder {
    color: rgba(0,0,0,.5);
    font-weight: 400;
  }

  input:focus + .icon-search {
    color: $silverGrey;
  }

  &.sidebar-search {
    margin-bottom: 1rem;
    input {
      font-size: 1rem;
    }
  }
}
.sidebar-list {
  h6 {
    text-transform: uppercase;
    color: $silverGrey;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 2px 10px;
      border-radius: 5px;
      color: $silverGrey;
      margin: 2px 0;
      cursor: pointer;
      font-size: 14px;
      transition: 0.4s;
      &.active,
      &:hover {
        background: #e4eaf0;
        transition: 0.4s;
      }
      &.active {
        font-weight: 500;
        h6 {
          font-weight: 500;
        }
      }
      .icon-wrapper {
        display: flex;
        align-items: center;
        height: 100%;

        i {
          font-size: 20px;
        }
      }

      h6 {
        margin-bottom: 0;
        margin-top: 0.5rem;
        font-weight: 400;
        i {
          margin-right: 5px;
        }
      }
      p {
        font-weight: 300;
        font-size: 14px;
        margin: 0.5rem 0;
      }
      .cat-description {
        margin-left: 11px;
      }
    }
  }
}
.share {
  button {
    border: 0;
    margin-left: 6px;
    padding-right: 0;
    color: $mainColor;
    background: none;
    font-size: 18px;
  }
}
.edit-section {
  display: flex;
  button {
    width: 40px;
    color: $silverGrey;
    &:hover {
      color: $mainColor;
    }
  }
}

.header-links {
  a {
    font-size: 14px;
    color: $white;
  }
}

.clear-icon {
  position: absolute;
  right: 35px;
  top: 6px;
  width: 20px;

  i {
    text-shadow: none;
    color: #333;

    &:hover {
      color: #555;
    }
  }
}
