.layout {
  overflow-x: hidden;
  position: relative;
}

.container-sm {
  max-width: 960px;
}

.main-body {
  margin-top: 100px;
  margin-bottom: 50px;
}

.align-center {
  text-align: center;
}

.head {
  box-shadow: $shadow;  
  background-color: $mainColor;
  background-image: url(../images/glowing-red-and-blue-wave-background.jpg);
  background-position: center center !important;
  background-size: cover !important;
}

.header {
  padding: 30px;

  .row {
    align-items: center;
    margin-bottom: 20px;
  }

  h3 {
    color: $white;
    font-weight: 300;
    padding: 20px 0;
    font-size: 20px;
    text-align: center;
  }

  .log-in {
    background: $mainColor;
    color: $white;
    margin: 0;
    padding: 0.5rem 2rem;
    border: 1px solid $mainColor;

    &:hover {
      color: $mainColor;
      background: transparent;
    }
  }

  .sign-up {
    padding: 0.5rem 2rem;
  }
}

.video {
  margin-bottom: 50px;
}

.desc {
  color: $silverGrey;
  margin-bottom: 30px;
}

.footer {
  background: $mainColor;
  padding: 40px 0;
  color: $white;

  h4 {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
  }

  .socials {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      width: 32px;
      height: 32px;
      margin: 5px 5px 0px 5px;
      border-radius: 16px;
      vertical-align: middle;
      display: flex;
      align-items: center;
      background: $white;
      transition: background 0.3s ease;

      a {
        font-weight: 300;
        font-size: 14px;
        display: block;
        padding: 6px;
      }

      img {
        width: 100%;
        filter:  contrast(0) sepia(100%) hue-rotate(0deg) brightness(0.4) saturate(0);;
      }

      &:hover {
        background: #eee;
      }
    }
  }

  .desc {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .card {
    padding: 30px 40px 30px 90px;
    background: $white;
    color: #666666;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    text-align: left;
    text-decoration: none;
    transition: background 0.3s ease;
    position: relative;
    min-height: 135px;
    font-size: 14px;

    img {
      position: absolute;
      left: 20px;
      top: 60px;
      max-width: 53px;
    }

    h3 {
      margin: 0;
      font-size: 14px;
    }

    .el-meta {
      color: #999;
      margin-top: 10px;
    }

    i {
      position: absolute;
      right: 20px;
      top: 80px;
      font-size: 12px;
    }
  }

  .row {
    justify-content: center;
  }

  .footer-text {
    font-size: 14px;
    padding: 30px;
  }
}

.logo {
  display: flex;
  align-items: center;
  color: $white;

  img {
    width: 130px;
    filter: brightness(0) invert(1);
  }

  a {
    padding: 0;
    margin: 0 10px 0 0;

    &:hover {
      background: none;
    }
  }

  .line {
    padding-right: 5px;
    font-size: 20px;
  }
}

.dropdown {
  max-width: 180px;

  &.show {
    .dropdown-toggle {
      background: $mainColor;
      color: $white;

      &:focus {
        box-shadow: none;
        border-color: $mainColor;
        background: $mainColor;
        color: $white;
      }
    }
  }

  button {
    font-weight: 500;
    color: $darkColor;
    font-size: 14px;

    &:hover {
      background: $mainColor;
      color: $white;
      text-decoration: none;
    }
  }

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
}

.dropdown-menu {
  a {
    font-size: 16px;
  }

  &.show {
    display: inline-grid;
    width: 100%;
  }
}

.mobile-menu-button {
  color: #fff;
  background: $mainColor;
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: right;
}

.mobile-menu {
  position: absolute;
  width: 300px;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 2;
  background: $white;
  transition: 0.5s;
  box-shadow: $shadow;
  animation: slide-in 0.3s forwards;

  .icon-cancel-1 {
    color: $mainColor;
    position: absolute;
    right: 30px;
    top: 1.5rem;
    font-size: 20px;
  }

  .nav {
    display: inline-block;
  }

  .nav-item {
    margin: 10px 0;
  }

  .menu {
    border-top: 1px solid $lightGrey;
  }

  .user-menu {
    margin-top: 60px;
    margin-bottom: 10px;

    .nav {
      display: flex;
    }
  }
}

.notification-button.btn {
  width: auto;
  margin-right: 1rem;
  color: #5629b6;
  background: none;
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 2px;
  border: 0;
  padding: 0;

  i {
    font-size: 24px;
  }

  &:focus,
  &:hover {
    background: #fff;
    box-shadow: $shadow;
  }
}

.logged-in-user {
  display: flex;
  justify-content: flex-end;
}

.knowlegde-base {
  overflow: initial;

  .search-container {
    margin-left: 50px;
    margin-right: 50px;

    input {
      padding: 10px 32px 11px 59px;
      color: #222;
      background: white;
      border: 1px solid #e2e2e2;
      border-radius: 0;
      font-weight: 300;

      &::placeholder {
        color: #888;
        font-weight: 300;
      }
    }

    i {
      color: #666;
      top: 8px;
      animation: searchIcon 1.2s forwards;
    }
  }

  .header {
    h3 {
      padding-bottom: 10px;
    }
  }

  .sidebar-wrap {
    height: 100%;
    border-right: 1px solid #eee;

    .sidebar-type-title {
      font-weight: 200;
      text-transform: capitalize;
      font-size: 22px;
      margin-bottom: 20px;
      color: #5629b6;
      border-bottom: 1px solid #eee;
      padding-bottom: 10px;
      padding-left: 15px;
    }

    .sub-categories {
      padding-left: 20px;
    }

    .sidebar-list {
      ul {
        li {
          .sidebar-item {
            display: flex;
            align-items: center;
            padding-left: 0;
            padding-right: 15px;
          }

          &.active,
          &:hover {
            background: none;

            h6,
            .icon-wrapper {
              color: #222;
            }
          }

          .icon-wrapper {
            margin-right: 10px;
          }

          h6 {
            font-weight: 500;
            text-transform: initial;
            margin-top: 0;
            font-size: 14px;
          }
        }
      }

      .submenu {
        width: 100%;

        ul {
          padding-left: 20px;

          li {
            position: relative;
            border-bottom: 1px solid #ececec;
            margin-bottom: 5px !important;
            padding-bottom: 5px;
            border-radius: 0 !important;
            flex-flow: row wrap;
            padding-left: 12px;
            font-weight: 300;
            color: #222;
            font-size: 13px;

            &::before {
              content: '';
              position: absolute;
              height: 130%;
              left: -11px;
              border-left: 1px solid #eee;
            }

            &:last-child {
              border-bottom: 0;
            }

            &.active {
              color: #000;
              font-weight: 400;
            }

            a {
              @include transition(all 0.3s ease-in-out);
            }

            &:hover {
              a {
                color: #000;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1080px) {
  .head.bottom-spacing {
    padding-bottom: 10rem;
  }
}

@media only screen and (min-width: 1250px) {
  .desktop-hidden {
    display: none;
  }
}

@media only screen and (max-width: 1080px) {
  .header {
    padding: 10px 0;

    .logo {
      a {
        margin: 0;
        padding: 0;
      }
    }
  }

  .small-hidden {
    display: none;
  }

  .logged-in-user {
    padding: 0 20px;
  }
}
