.layout {
  overflow-x: hidden;
  position: relative;
}
.main-body {
  margin-top: 50px;
  margin-bottom: 50px;
}
.head {
  background: #fff;
  box-shadow: $shadow;
}
.header {
  padding: 10px 30px;
  .row {
    align-items: center;
  }
  a {
    font-size: 18px;
    font-weight: 500;
    color: $darkColor;
    transition: 0.4s;
    border-radius: 5px;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    &:hover {
      background: $softYellow;
      transition: 0.4s;
    }
    &.active {
      background: $softYellow;
    }
  }
  .log-in {
    background: $mainColor;
    color: $white;
    margin: 0;
    padding: 0.5rem 2rem;
    border: 1px solid $mainColor;
    &:hover {
      color: $mainColor;
      background: transparent;
    }
  }
  .sign-up {
    padding: 0.5rem 2rem;
  }
}
.logo {
  max-width: 80px;
  a:hover {
    background: none;
  }
}
.dropdown {
  max-width: 180px;
  &.show {
    .dropdown-toggle {
      background: $mainColor;
      color: $white;
      &:focus {
        box-shadow: none;
        border-color: $mainColor;
        background: $mainColor;
        color: $white;
      }
    }
  }
  button {
    font-weight: 500;
    color: $darkColor;
    font-size: 14px;
    &:hover {
      background: $mainColor;
      color: $white;
      text-decoration: none;
    }
  }
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
}
.dropdown-menu {
  a {
    font-size: 16px;
  }
  &.show {
    display: inline-grid;
    width: 100%;
  }
}
.mobile-menu-button {
  color: #fff;
  background: $mainColor;
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: right;
}
.mobile-menu {
  position: absolute;
  width: 300px;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 2;
  background: $white;
  transition: 0.5s;
  box-shadow: $shadow;
  animation: slide-in 0.3s forwards;

  .icon-cancel-1 {
    color: $mainColor;
    position: absolute;
    right: 30px;
    top: 1.5rem;
    font-size: 20px;
  }
  .nav {
    display: inline-block;
  }
  .nav-item {
    margin: 10px 0;
  }
  .menu {
    border-top: 1px solid $lightGrey;
  }
  .user-menu {
    margin-top: 60px;
    margin-bottom: 10px;
    .nav {
      display: flex;
    }
  }
}
.notification-button.btn {
  width: auto;
  margin-right: 1rem;
  color: #5629b6;
  background: none;
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 2px;
  border: 0;
  padding: 0;
  i {
    font-size: 24px;
  }
  &:focus,
  &:hover {
    background: #fff;
    box-shadow: $shadow;
  }
}
.logged-in-user {
  display: flex;
  justify-content: flex-end;
}
@media only screen and (min-width: 1250px) {
  .desktop-hidden {
    display: none;
  }
}
@media only screen and (max-width: 1249px) {
  .header {
    padding: 10px 0;
    .logo {
      a {
        margin: 0;
        padding: 0;
      }
    }
  }
  .small-hidden {
    display: none;
  }
  .logged-in-user {
    padding: 0 20px;
  }
}
