.ticket-lists {
  .card {
    margin-bottom: 30px;
    cursor: pointer;
  }
  .ticket-card {
    min-height: 250px;
    time {
      position: absolute;
      bottom: 10px;
      font-size: 12px;
    }
    h5 {
      color: $darkColor;
      font-weight: 600;
    }
    p {
      color: $silverGrey;
    }
  }
}
