.knowledge-base {
  .category-item {
    margin-bottom: 30px;
    a {
      padding: 0.5rem;
      color: $darkColor;
      outline: none;
      border-radius: 5px;
      &.active {
        border-radius: $radius;
        background: $white;
        box-shadow: $shadow;
      }
      i {
        position: absolute;
        margin-top: 2px;
      }
      .tab-content {
        margin-left: 30px;
        p {
          font-size: 14px;
          margin-bottom: 0;
          color: #6c718b;
        }
      }
    }
  }
}

.kbase-lists {
  color: #036;
  background: $white;
  padding: 1.5rem;
  border-radius: $radius;
  box-shadow: $shadow;
  margin: 10px;
  h4 {
    color: $darkColor;
    font-size: 30px;
    font-weight: 400;
  }
  ul {
    list-style: disc;
    list-style-type: circle;
    margin: 1rem 0 2rem;
    li {
      font-size: 20px;
      margin-bottom: 1.5rem;
      a {
        color: $mainColor;
        h6 {
          font-size: 18px;
          &:hover {
            text-decoration: underline;
          }
        }

        p {
          color: $silverGrey;
          font-size: 14px;
        }
      }
    }
  }
}
.kbase-detail {
  font-size: 16px;
  line-height: 1.8;
  color: $silverGrey;
  .content {
    img {
      max-width: 100%;
    }
  }
}

.avatars {
  display: flex;
  align-items: center;

  > div {
    color: #5c5c5c;
    font-size: 13px;
    margin-left: 10px;
    margin-top: 5px;
  }
}

.round-img {
  border-radius: 50%;
}

.reaction {
  position: absolute;
  left: 45%;
  margin-top: 34px;
}

.feedback {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.search-reuslt {
  margin: 10px;
  font-weight: 500;
  color: #036;
  letter-spacing: 0.02em;
  font-size: 18px;
}

.reactions {
  position: absolute;
  left: 45%;
  top: 39%;
  display: flex;
  justify-content: center;
  margin-bottom: -23px;
  height: 46px;
  height: 34px;
  width: 34px;
  padding: 2px;
  opacity: 0.9;
}

span {
  margin-right: 10px;
  width: 44px;
  vertical-align: middle;
  text-align: center;

  &:hover {
    cursor: pointer;
  }

  &.active img {
    height: 38px;
    width: 38px;
  }

  img {
    height: 34px;
    width: 34px;
    padding: 3px;
    background: $white;
    border-radius: 50%;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08), 0 3px 8px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;

    &:hover {
      height: 38px;
      width: 38px;
    }
  }
}
