.knowledge-base {
  .category-item {
    margin-bottom: 30px;
    a {
      padding: 0.5rem;
      color: $darkColor;
      outline: none;
      border-radius: 5px;
      &.active {
        border-radius: $radius;
        background: $white;
        box-shadow: $shadow;
      }
      i {
        position: absolute;
        margin-top: 2px;
      }
      .tab-content {
        margin-left: 30px;
        p {
          font-size: 14px;
          margin-bottom: 0;
          color: #6c718b;
        }
      }
    }
  }
}
